<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard page
    </title>
    <meta charset='utf-8' />
    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

</head>

<body>

    <div class="page page--dashboard">

        <aside class="page__aside aside vertical">
            <div class="acide__logo text">
                Sidebar
            </div>
            <nav class="vertical vertical--small">
                <a href="#" class="button button--primary click">
                    <span class="icon button__icon" style="background-image: url('svg/nav/home.svg')"></span>
                    <span class="text text--light">Home</span>
                </a>
                <a href="#" class="button click">
                    <span class="icon button__icon" style="background-image: url('svg/nav/orders.svg')"></span>
                    <span class="text text--light">Orders</span>
                </a>
                <a href="#" class="button click">
                    <span class="icon button__icon" style="background-image: url('svg/nav/products.svg')"></span>
                    <span class="text text--light">Products</span>
                </a>
            </nav>
        </aside>

        <header class="header">
            <div class="layout header__content text text--small">
                <div class="header__search relative">
                    <input type="text" class="field field--header" placeholder="Search">
                    <span class="icon header__icon-search" style="background-image: url('/svg/header/search.svg')">
                    </span>
                    <span class="icon header__icon-settings icon--button icon--color-blue click"
                        style="background-image: url('/svg/header/settings.svg')">
                    </span>
                </div>
                <div class="header__menu">
                    <span class="icon header__icon-menu icon--button icon--color-yellow click"
                        style="background-image: url('/svg/header/signal.svg')">
                    </span>
                    <span class="icon header__icon-menu icon--button icon--color-cyan click"
                        style="background-image: url('/svg/header/translate.svg')">
                    </span>
                    <span class="icon header__icon-menu icon--button icon--color-yellow click"
                        style="background-image: url('/svg/header/bell.svg')">
                    </span>

                </div>
            </div>
        </header>

        <main class="main">
            <div class="layout">
                <div class="main-content">
                    <div class="box analytic__block">
                        <div class="analytic analytic--double analytic--purple">
                            <span class="icon analytic__icon icon--button icon--color-purple click"
                                style="background-image: url('/svg/analytic/money.svg')">
                            </span>
                            <div class="relative vertical vertical--small">
                                <div class="analytic__title text text--light text--bold">$500.00</div>
                                <div class="text text--small text--gray-lighty">Total earning</div>
                                <span class="icon analytic__arrow click"
                                    style="background-image: url('/svg/analytic/purple-arrow.svg')">
                                </span>
                            </div>
                        </div>
                        <div class="analytic analytic--double analytic--blue">
                            <span class="icon analytic__icon icon--button icon--color-blue click"
                                style="background-image: url('/svg/analytic/bag.svg')">
                            </span>
                            <div class="vertical vertical--small">
                                <div class="analytic__title text text--light text--bold">$961</div>
                                <div class="text text--small text--gray-lighty">Total Order</div>
                            </div>
                        </div>
                        <div class="analytic analytic--single analytic--blue">
                            <span class="icon analytic__icon icon--button icon--color-blue click"
                                style="background-image: url('/svg/analytic/bag.svg')">
                            </span>
                            <div class="vertical vertical--small">
                                <div class="analytic__title-small text text--light text--bold">$203k</div>
                                <div class="text text--small text--gray-lighty">Total Income</div>
                            </div>
                        </div>
                        <div class="analytic analytic--single analytic--white">
                            <span class="icon analytic__icon icon--button icon--color-yellow click"
                                style="background-image: url('/svg/analytic/shop.svg')">
                            </span>
                            <div class="vertical vertical--small">
                                <div class="analytic__title-small text text--bold">$203k</div>
                                <div class="text text--small text--gray">Total Income</div>
                            </div>
                        </div>
                    </div>
                    <div class="box purchase__block vertical text">
                        <div class="divider text--heading">Purchase list</div>
                        <div class="divider purchase__info">
                            <div>
                                <div>ID437661</div>
                                <div>May 11, 2023, 14:21</div>
                            </div>
                            <div>
                                <div>AirOn ProCam</div>
                                <div>7/8 USB Type-C</div>
                            </div>
                            <div>
                                <div>132.32 EUR</div>
                                <div class="purchase__info--warning">Not paid</div>
                            </div>
                            <div>
                                <div>Customer</div>
                                <div>robin@com.de</div>
                            </div>





                        </div>
                        <div class="purchase__info">
                            <div>
                                <div>ID437661</div>
                                <div>May 11, 2023, 14:21</div>
                            </div>
                            <div>
                                <div>PHILIPS Essential</div>
                                <div>HD9200/90</div>
                            </div>
                            <div>
                                <div>543 USD</div>
                                <div class="purchase__info--success">Pay by Stripe</div>
                            </div>
                            <div>
                                <div>Customer</div>
                                <div>dima@com.ua</div>
                            </div>
                        </div>
                    </div>

                    <div class="box payment__block vertical text">
                        <div class="divider text--heading">Payment</div>


                        <div class="vertical vertical--small">
                            <div class="form-radio">
                                <input type="radio" name="payment-radio" id="payment">
                                <label for="payment">Credit card</label>
                            </div>
                            <div class="form-radio">
                                <input type="radio" name="payment-radio" id="payment">
                                <label for="payment">Debit card</label>
                            </div>
                            <div class="form-radio">
                                <input type="radio" name="payment-radio" id="payment">
                                <label for="payment">PayPal</label>
                            </div>
                        </div>

                        <div class="field__block divider">
                            <div>
                                <div>Name on card</div>
                                <input type="text" class="field field__payment">
                            </div>
                            <div>
                                <div>Credit card number</div>
                                <input type="text" class="field field__payment">
                            </div>
                            <div>
                                <div>Expiration</div>
                                <input type="text" class="field field__payment">
                            </div>
                            <div>
                                <div>CVV</div>
                                <input type="text" class="field field__payment">
                            </div>
                        </div>
                        <div class="field__block divider">
                            <div class="relative click">
                                <div>Country</div>
                                <div class="field field--select relative field__payment">
                                    <span class="text--gray">Choose...</span>
                                    <span class="icon icon--select click"
                                        style="background-image: url('/svg/select-arrow.svg')">
                                    </span>
                                </div>
                                <select class="field__select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="relative click">
                                <div>State</div>
                                <div class="field field--select relative field__payment">
                                    <span class="text--gray">Choose...</span>
                                    <span class="icon icon--select click"
                                        style="background-image: url('/svg/select-arrow.svg')">
                                    </span>
                                </div>
                                <select class="field__select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <button class="button button--primary button--center click text--light">Continue to
                            checkout</button>

                    </div>
                </div>
            </div>
    </div>




    </main>


    </div>

</body>


</html>