                                                                                     .page {
    background: #FFFFFF;
    padding: 0 15px;
} 

.page_content {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    padding: 24px;
    border-bottom: 1px solid #DEE2E6;

    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 17px;
}

.nav {
    display: block;
}

.nav_link {
    color: #343A40;
    font-size: 16px;
    text-decoration: none;
}

.nav_link:hover {
    text-decoration: underline;
    color: blue;
}

.nav_vertical > .nav_link {
    display: block;
}

.nav_inline > .nav_link:not(:last-child) {
    margin-right: 24px;
}

.nav_vertical > .nav_link:not(:last-child) {
    margin-bottom: 12px;
}

.header_nav_right {
    margin-left: auto;
    width: fit-content ;
}

.page_block:not(:last-child) {
    margin-bottom: 80px;
}

.footer {
    padding: 24px 0;
    border-top: 1px solid #DEE2E6;
    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    font-size: 14px;
    color: #6C757D;

    display: block;
    margin-top: 12px;
}

.footer_title {
    font-size: 20px;
    color: #212529;

    display: block;
    margin-bottom: 12px;
}

.hero_title {
    font-size: 56px;
    color: #fff;

    font-weight: 500;
    margin-bottom: 24px;
   
}

.hero_text {
    font-size: 20px;
    color: #fff;
    
    max-width: 800px;
    width: 100%;
  
}

.hero {
    background: #343A40;
    border-radius: 24px;
    padding: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button {
    text-decoration: none;
    color: #fff;
    max-width: 248px;
    width: 100%;
    background: #007BFF;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px; 
    margin-top: 24px;
}

.button:hover {
    background: #4098f7;
}

.preview {
    padding: 24px;
    border: 1px solid #DEE2E6;
    border-radius: 24px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.preview_header > span:not(:last-of-type) {
    margin-right: 12px;
}

.preview_date {
    color: #6C757D;
    font-size: 16px;
}

.preview_category {
    font-size: 16px;
    font-weight: 700;
}

.preview > *:not(:last-child) {
    margin-bottom: 12px;
}

.preview_title {
    display: block;
    color: #343A40;
    font-size: 28px;
    font-weight: 500;
}

.preview_description {
    font-size: 16px;
    color: #212529;
}

.preview_link {
    font-size: 16px;
}

.preview_category_1 {
    color: #007BFF;
}

.preview_category_2 {
    color: #198754;
}

.preview_category_3 {
    color: #FF0000;
}

.preview_category_4 {
    color: #FF7A00;
}

.list_title {
    color: #212529;
    font-weight: 500;
    font-size: 32px;
    margin: 0;

    

}

.list_header {
    border-bottom: 1px solid #DEE2E6;
    padding-bottom: 12px;
    margin-bottom: 40px;
    

    display: flex;
    justify-content: space-between;
}

.category_item {
    text-align: right;
}

.category_button {
    font-size: 16px;
    color: #6C757D;
    padding: 10px 16px;
    border: 1px solid #6C757D;
    border-radius: 40px;
    line-height: 100%;
}



.category_button:not(:last-child) {
    margin-right: 12px;
}


.category_button_1:hover {
    background: #007BFF;
    color:#fff;
}

.category_button_2:hover {
    background: #198754;
    color:#fff
}

.category_button_3:hover {
    background: #FF0000;
    color:#fff
}

.category_button_4:hover {
    background: #FF7A00;
    color:#fff
}

.list_aside {
    margin-left: 40px;
}

.list > *:not(:last-child) {
    margin-bottom: 40px;
}

.post {
    padding-bottom: 12px;
    border-bottom: 1px solid #DEE2E6;
}

.post > *:not(:last-child) {
    margin-bottom: 12px;
}

.post_title {
    color: #212529;
    font-size: 28px;
    font-weight: 500;
    display: block;
}

.post_date {
    color: #999999;
    font-size: 16px;
}

.post_author {
    color: #0050FF;
    text-decoration: none;
}

.post_description {
    font-size: 16px; 
    color: #212529;
}


.list_aside > *:not(:last-child) {
    margin-bottom: 24px;
}

.about {
    padding: 24px;
    background: #F8F9FA;
}

.about_title {
    font-weight: 500;
    font-size: 20px;
    color: #212529;
    margin-bottom: 12px;
}
.about_description {
    font-size: 14px;
    color: #212529;

    line-height: 170%;
}

.link_list {
    padding: 24px;
}

.link_list > *:not(:last-child) {
    margin-bottom: 12px;
}

.link_title {
    font-weight: 500;
    font-size: 24px;
    color: #212529;
    display: block;
    
}

.link_item {
    display: block;
    font-size: 16px;
    color: #007BFF;
    text-decoration: none;
}

.link_item:hover {
    text-decoration: underline;
}

.flex_container {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;

    align-items: center;
    gap: 24px;

  
/* 
    height: 900px; */
    
}

.flex_item {
    /* width: 50%; */
    /* margin: 15px; */
    flex-basis: calc(50% - (24px / 2))
    /* flex-grow: 1; */
}

.flex_item:first-of-type {
    /* margin-right: 24px;
    margin-bottom: 24px; */

    /* align-self: flex-end; */

    /* flex-grow: 3; */
    /* flex-basis: calc(50% - 24px); */
}

.flex_item:nth-of-type(2) {
    /* margin-bottom: 24px; */
}

.flex_item:nth-of-type(3) {
    
    /* margin-right: 24px; */
    
    /* flex-basis: calc(50% - 24px); */
}

